.btn-blue {
  background-color: white;
  padding: 10px 15px;
  border-radius: 4px;
  color: green;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
  background-color: green;
  color: white;
}
